//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.section-header {

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  padding: 27px 0px 31px;
  height: 117px;

  border-bottom: 1px solid $white1;
  transition: all 1s;

  &.scrolled {
  padding: 2px 15px;
  height: 80px;

  background-color: $white;
  transition: all .4s;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
  
    margin-bottom: 65px;
  }

  .navbar-toggler {
    position: relative;
    top: -37px;
    right: 10px;
  }

  .icon-bar {
    width: 25px;
    height: 2px;

    background: #0076b1;
  }

  .img-logo {
    justify-content: center;
    align-items: center;

    margin-top: -25px;
    margin-bottom: 126px;
    margin-left: -3px;
    width: 250px;
  }

  .nav-item {
    margin-top: 8px;
    margin-right: 29.7px;
  }

  .item-journal {
    margin-left: 2px;
  }

  .nav-link {
    font-family: $font-opensans-semibold;
    font-size: 14px;
    color: $light-grey1;
  }

  .img-call {
    padding-right: 5px;
    width: 20px;
  }

  .btn-call {
    display: block;

    padding: 15px 12px;
    margin-top: 2.2px;
    margin-bottom: 68px;
    margin-right: 3px;
    width: 168px;
    height: 47.5px;
    
    font-family: $font-opensans-bold;
    font-size: 14px;
    color: $white;
  
    background-color: $orange;
    border: none;
    border-radius: 254px;
  }

  .btn-lang {
    margin-right: 11px;
    margin-top: 8px;

    background-color: none;
  }

  .img-arrowdown {
    position: relative;
    bottom: 41px;
    left: 155px;

    width: 5%;
  }

  .btn-link {
    margin-left: 3px;
    margin-top: -8px;
    color: $white;
  }

  .md-btn-call {
    display: none;
  }

  .md-btn-lang {
    display: none;
  }

  .btn-en {
    font-family: $font-opensans-semibold;
    font-size: 12px;
    color: $white;
  }
  
  .arrow-down {
    padding-left: 5px;
  }

  .list-unstyled {
    display: none;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;

    margin-top: 5px;
    margin-bottom: 4.5%;
    margin-left: 13.5%;
  }

  .form-control {
    padding-left: 22px;
    margin-top: -7px;
    margin-right: -12px;
    width: 80px;
    height: 42px;
 
    font-family: $font-opensans-bold;
    font-size: 14px;
    color: $white;

    background-color: #2e79b2;
    border-radius: 25px;
    appearance: none;
  }

  .header-icons {
    display: none;
  }

  select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 14px);
  }
}

//1199 to 992
@include respond-to(lg) {
  .section-header {

    .img-logo {
      margin-bottom: 50px;

      width: 150px;
    }  

    .navbar-nav {
      margin-bottom: 60px;
    }

    .nav-link {
      font-size: 12px;
    }

    .btn-call {
      margin-top: 0px;
      margin-right: 5px;
      width: 145px;
      height: 45px;
    }

    .btn-link {
      padding-right:0;
    }

    .btn-lang {
      margin-right: 0px;
    }

    .nav-item {
      margin-right: 5px;
    }

    .list-unstyled {
      display: none;
    }

    .header-icons {
      display: none;
    }
  }
}

//991 to 768
@include respond-to(md) {
  .section-header {
    border-bottom: none;

    .img-logo {
      margin-top: 0;
      margin-left: 18px;
      width: 150px;
    }

    .navbar-nav {
      display: flex;
      flex-direction: row;
    
      margin-bottom: 106px;
      margin-right: 22px;
    }

    .nav-list {
      display: flex;
      flex-direction: column;
      list-style-type: none;

      padding: 0px 35px;
      margin-top: 20px;
      margin-bottom: 0px;

      .md-btn-call {
        display: none;
      }

      .md-btn-lang {
        display: none;
      }
    }

    .navbar-toggler {
      position: relative;
      top: -55px;
      right: 23px;
  
      .icon-bar {
        margin-top: 6px;
      }  
    }

    .nav-item {
      line-height: 40px;
    }

    .collapse {
      position: fixed;
      top: 84px;
      bottom: 0;
      right: -100%;
      z-index: 2000;

      display: block;
      padding: 0px;
      width: 0;
      height: 100%;

      background-color: $white;
      transition: all .3s ease;
    }

    .collapsing {
      position: fixed;
      top: 84px;
      bottom: 0;
      right: -100%; 

      display: block;
      width: 100%; 
      height: 100%;
     
      transition: all .3s ease-in;
    }
    
    .collapse.show {
      right: 0;

      width: 100%;
    }

    .btn-call,
    .btn-lang {
     display: none;
    }

    .link {
      color: #848484;
    }

    .md-btn-call {
      display: block;
      margin-right: 7px;
      width: 167px;
      height: 47.5px;  

      font-family: $font-opensans-bold;
      font-size: 14px;
      color: $white;

      background-color: $orange;
      border: none;
      border-radius: 254px;
    }

    .md-btn-lang {
      display: block;    
    }

    .img-call {
      margin-left: 10px;
      width: 15px;
      padding-right: 0;
    }

    .icon-linkedin {
      color: #848484;
    }
  
    .icon-mail {
      color: #ffa44b;
    }
  
    .icon-mobile {
      color: #98b861;
    } 
  
    .list-item {
      margin: 0;
      padding: 12px;
      width: 54px;
      height: 54px;
      text-align: center;
      background-color: #f3f7fc;
      border-radius: 50%;
    }

    .list-unstyled {
      position: relative;
      bottom: -38%;

      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

    
      margin: 0;
      padding: 10px 15px;
      width: 100%;

      border-top: 1px solid #ededee;
      border-bottom: 1px solid #ededee;
    }

    .header-icons {
      position: relative;
      top: 47%;
      bottom: 0;
    }

    .nav-link {
      margin-top: -7px;
      margin-left: -5px;

      color: $light-grey1;
    }

    .btn-link {
      margin-top: -4px;
      margin-left: 12px;

      color: $white;
    }

    .form-control {
      width: 75px;
      
      color: $white;
      background-color: #2e79b2;

      border: none;
      border-radius: 25px;
    }

    select.form-control:not([size]):not([multiple]) {
      height: 48px;

    .icon-linkedin {
      color: #848484;
    }
  
    .icon-mail {
      color: #ffa44b;
    }
  
    .icon-mobile {
      color: #98b861;
    } 
  
    .list-item {
      margin: 0;
      padding: 12px;
      width: 54px;
      height: 54px;
      text-align: center;
      background-color: #f3f7fc;
      border-radius: 50%;
    }

    .list-unstyled {
      position: relative;
      bottom: -42%;

      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      margin: 0;
      padding: 10px 15px;
      width: 100%;

      border-top: 1px solid #ededee;
      border-bottom: 1px solid #ededee;
    }

    .header-icons {
      position: relative;
      top: 51.5%;
    }

    .form-control {
      width: 67px;
    }
    }
  } 
}

//767 to 576 
@include respond-to(sm) {

  .section-header {
    border-bottom: none;

    .nav-list {
      display: block;
      list-style-type: none;

      padding: 0px 12px;
      margin-top: 20px;
      margin-bottom: 0px;
    }

    .navbar-toggler {
      top: -65px;
      right: 30px;
      
      .icon-bar {
        margin-top: 6px;
      }  
    }

    .nav-item {
      line-height: 30px;
    }

    .btn-link {
      font-size: 15px;
      color: $white;
    }

    .md-btn-call {
      margin-top: 15px;
      width: 167px;
      height: 47.5px;
      
      font-family: $font-opensans-bold;
      font-size: 14px;
      color: $white;
    
      background-color: $orange;
      border: none;
      border-radius: 254px;
    }

    .md-btn-lang {
      margin-top: 15px;
      width: 167px;
      height: 40px;
  
      font-size: 13px;
      color: $white;
  
      background-color: $dark-blue;
      border: none;
      border-radius: 25px;
    }

    .img-logo {
      margin-top: -15px;
      width: 150px;
    }
    
    .navbar-toggler {
      top: -32px;
      right: 40px;
    }

    .collapse {
      position: fixed;
      top: 84px;
      bottom: 0;
      right: -100%;
      z-index: 2000;

      display: block;
      padding: 0px;
      width: 0;
      height: 100%;

      background-color: #fff;
      transition: all .3s ease;
    }

    .collapsing {
      position: fixed;
      top: 84px;
      bottom: 0;
      right: -100%; 

      display: block;
      width: 100%; 
      height: 100%;

      transition: all .3s ease-in;
    }

    .collapse.show {
      right: 0;

      width: 100%;
    }

    .icon-linkedin {
      color: #848484;
    }
  
    .icon-mail {
      color: #ffa44b;
    }
  
    .icon-mobile {
      color: #98b861;
    } 
  
    .list-item {
      margin: 0;
      padding: 12px;
      width: 54px;
      height: 54px;
      text-align: center;
      background-color: #f3f7fc;
      border-radius: 50%;
    }

    .list-unstyled {
      position: relative;
      bottom: -42%;

      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      margin: 0;
      padding: 10px 15px;
      width: 100%;

      border-top: 1px solid #ededee;
      border-bottom: 1px solid #ededee;
    }

    .header-icons {
      position: relative;
      bottom: -35.2%;
    }

    .img-call {
      margin-left: 15px;
    }

    .fa {
      position: relative;
      bottom: 32px;
      left: 130px;

      color: $white;
    }

    .img-arrowdown {
      width: 3%;
    }
  }
}

//425 to 320
@include respond-to(xs) {
  .section-header {
    border-bottom: none;

    .scroll {
      overflow: hidden;
    }

    .navbar-nav {
      margin-top: 15px;
    }

    .nav-list {
      display: block;
      list-style-type: none;

      padding: 0px 12px;
      margin-bottom: 0px;
    }

    .btn-call {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 200px;

      line-height: normal;
    }

    .btn-lang {
      margin-top: 25px;
      margin-right: 0px;
    }

    .md-btn-call {
      display: none;
      width: 167px;
      height: 47.5px;
      
      font-family: $font-opensans-bold;
      font-size: 14px;
      color: $white;
    
      background-color: $orange;
      border: none;
      border-radius: 254px;
    }

    .md-btn-lang {

      display: none;
      margin-top: 15px;
      width: 150px;
      height: 39px;
  
      font-size: 13px;
      color: $white;
  
      background-color: $dark-blue;
      border: none;
      border-radius: 25px;

      .form-control {

        height: auto;
        color: $white;
        font-family: $font-opensans-bold;
        font-size: 15px;
        background: #0076b1 no-repeat center right 19px;
        border: none;
        border-radius: 25px;
        appearance: none;
      }
    }

    .img-logo {
      margin-top: -22px;
      margin-left: -5px;
      width: 150px;
    }

    .navbar-toggler {
      top: -65px;
      right: 20px;

      .icon-bar {
        margin-top: 6px;
      }  
    }

    .nav-item {
      line-height: 30px;
    }

    .md-btn-call {
      margin-top: 20px;
      margin-right: 0px;

      width: 150px;
      height: 45px;
    }

    .btn-link {
      margin-top: -13px;
      margin-left: 10px;
      margin-right: 10px;

      color: $white;
    }

    .collapse {
      position: fixed;
      top: 84px;
      bottom: 0;
      right: -100%;
      z-index: 2000;

      display: block;
      padding: 0px;
      width: 0;
      height: 100%;

      background-color: $white;
      transition: all .3s ease;
    }

    .collapsing {
      position: fixed;
      top: 84px;
      bottom: 0;
      right: -100%; 

      display: block;
      width: 100%; 
      height: 100%;
     
      transition: all .3s ease-in;
    }
    
    .collapse.show {
      right: 0;

      width: 100%;
    }

    .icon-linkedin {
      color: #848484;
    }
  
    .icon-mail {
      color: #ffa44b;
    }
  
    .icon-mobile {
      color: #98b861;
    } 
  
    .list-item {
      margin: 0;
      padding: 12px;
      width: 54px;
      height: 54px;
      text-align: center;
      background-color: #f3f7fc;
      border-radius: 50%;
    }

    .list-unstyled {
      position: relative;
      bottom: -38%;

      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

    
      margin: 0;
      padding: 10px 15px;
      width: 100%;

      border-top: 1px solid #ededee;
      border-bottom: 1px solid #ededee;
    }

    .header-icons {
      position: relative;
      bottom: -31.2%;
    }

    .fa {
      position: relative;
      bottom: 32px;
      left: 115px;

      color: $white;
    }

    .img-arrowdown {
      left: 160px;
      width: 4%;
    }

    select.form-control:not([size]):not([multiple]) {
      height: calc(2.25rem + 10px);
    }

    .form-control {
      width: 200px;
    }
  }
}

@media screen and (min-width: 2000px) {
  .section-header {

    .img-logo {
      margin-top: -23px;
      margin-bottom: 127px;
      margin-left: -2px;
      width: 250px;
    }

    .btn-lang {
      margin-right: -6px;
      margin-top: 8px;
    }
  }
}

@media screen and (min-width: 1920px) {

  .section-header {
    height: 138px;

    .img-logo {
      margin-top: -22px;
      margin-bottom: 126px;
      margin-left: 135px;
    }

    .collapse {
      margin-top: 12px;
    }
  }
}






