//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the about page.
// -----------------------------------------------------------------------------
.about {
  .sidebar {
    list-style-type: none;
    
    .img-sidebar {
      padding: 12px;
      margin-bottom: 15px;
    }
  
    #social_side_links {
      position: fixed;
      right: 0;

      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      z-index: 1;
      
      padding: 5px 5px;
      margin-right: 0%;
      margin-top: 17%;
      width: 60px;
      height: 260.5px;

      background-color: $white;
      box-shadow: 0px 0px 25px 5px #cfcfcf;
    }
    
    #social_side_links li a {
      float: right;
      display: block;
    }
  
    #social_side_links li a img {
      float: right;
      display: block;
      max-width:40px;
      padding: 10px;
    }
  
    #social_side_links li a:hover img {
      float: right;
      background: rgba(0, 0, 0, .2);
    }
  }

  .section-banner {
 
    background-image: url('../assets/images/about-page-hero.jpg');
    background-position: center left;
    background-size: cover;
    padding-top: 570px;
    margin-top: 137px;

    .nav-wrapper {
      position: absolute;
      top: 654px;
      left: 29.2%;
    }
  
    .custom-nav {

      .nav-item {
        height: 53px;

        &:first-child {
          padding: 5px 10px;

          font-family: $font-opensans-semibold;
          color: $white;
          letter-spacing: .2px;
          background: #1974b1;
        }

        &:nth-child(2) {
          padding: 5px 40px;
     
          color: $black;
          letter-spacing: .2px;
          background: $white;
        }

        &:nth-child(3) {
          padding: 5px 45px;

          font-size: 19px;
          letter-spacing: -0.4px;
          background: rgba(3, 3, 3, 0.7);
    
          .nav-link {
            color: $white;
          }
          
        }

        &:last-child {
          padding: 5px 44px;

          letter-spacing: -1px;
          background: rgba(3, 3, 3, 0.7);
    
          .nav-link {
            color: $white;
          }
        }
      }
    }

    .arrow-right-parent {
      position: relative;
    }

    .arrow-right:after {
      content: "";
      position: absolute;
      top:0;
      left: 142px;
      z-index: 0;

      width: 0;
      height: 0;
      border-top: 26.5px solid transparent;
      border-bottom: 26.5px solid transparent;
      border-left: 24px solid #1974b1;
    }
  }

  .breadcrumb-wrapper {
    
    .breadcrumb-list {
      display: flex;
      justify-content: center;

      padding: 22px 0px;
      background: transparent;
      border-bottom: 1px solid #dfdfdf;
    }

    .breadcrumb-item {
      padding-left:  15px;
     
      font-family: $font-opensans-semibold;
      font-size: 0.8rem;
      color: black;
    }

    .breadcrumb-item a {
      color: #adabab;
    }

    .breadcrumb-item::before {
      content: '';
    }

    .breadcrumb-item a.active {
      color: #1974b1;
    }

    .breadcrumb-arrow {
      padding-right: 0.5rem;
      padding-left: 0.5rem;

      color: #6c757d;
    }
  }

  .section-we-do {
    padding-bottom: 133px;

    .row {
      margin-top: 20px;
      margin-left: 53px;
    }

    .image-text {
      .custom-container {
        max-width: 1187px;
      }
  
      .img-border {
        overflow: hidden;
        width: 75%;

        border-right: 8px solid orange;
        border-radius: 50%;
      }
    }

    .image-text:nth-child(1) {
      margin-top: 65px;

      background-image: url('../assets/images/flower.png');
      background-repeat: no-repeat;
      background-position: left -156px center;

      .content {
        margin-top: 11px;
        line-height: 25px;
      }

      .heading {
        font-family: $font-opensans-bold;
        font-size: 40px;
        margin-bottom: 15px;
      }

      .subheading {
        font-size: 17px;
        letter-spacing: px;
        margin-right: 39px;
        line-height: 26px;
      }

      .img-border {
        margin-left: 45px;
        width: 79%;
      }
    }

    .image-text:nth-child(2) {
      margin-top: 125px;

      .content {
        margin-top: 6px;
        margin-left: -35px;
      }

      .heading {
        font-family: $font-opensans-bold;
        font-size: 40px;
      }

      .subheading {
        margin-top: 16px;
        margin-right: 65px;

        font-size: 18px;
        letter-spacing: -0.5px;
        line-height: 26px;
      }

      .img-border {
        margin-top: 1px;
        width: 79%;
      }

      .bolder-text {
        font-family: $font-opensans-bold;
        font-weight: bolder;
      }
    }

    .image-text:nth-child(3) {
      margin-top: 137px;

      background-image: url('../assets/images/flower.png');
      background-repeat: no-repeat;
      background-position: right -136px top;

      .image-text {
        margin: 141px 0px;
      }

      .heading {
        font-family: $font-opensans-bold;
        font-size: 40px;
      }

      .subheading {
        font-size: 17px;
        margin-top: 15px;
        margin-right: 44px;
        margin-bottom: 0;
        line-height: 26px;
      }

      .img-border {
        width: 79%;
      }
    }

    .image-text:nth-child(4) {
      margin-top: 153px;

      .heading {
        font-family: $font-opensans-bold;
        font-size: 40px;
      }

      .subheading {
        font-size: 18px;
        letter-spacing: -0.9px;
      }

      .img-border {
        width: 79%;
      }

      .content {
        margin-left: -34px;
        line-height: 25px;
        margin-top: 6px;
      }

      .heading {
        margin-bottom: 15px;
      }

      .subheading {
        line-height: 26px;
        letter-spacing: -0.3px;
      }
    }
  }

  .section-boxes {
    padding-bottom: 1px;

    background-image: url('../assets/images/building.png');
    background-size: cover;
    background-position: 40%;
    background-repeat: no-repeat;

    .container.boxes {
      display: contents;
      margin: 0;
    }

    .content-holder {
      &:first-child {
        margin-top: 250px;
      
        .title {
          margin-top: -203px;
          margin-bottom: 11px;
          margin-left: 0px;

          font-family: $font-opensans-bold;
          font-size: 40px;
          color: $white;
        }
    
        .subtitle {
          margin-top: -1px;
          margin-bottom: 38px;

          font-size: 17px;
          color: $white;
          letter-spacing: -0.1px;
        }
      }
    }

    .image-holder {
      margin-right: 80px;
    }

    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .footer-boxes {
      display: flex;
      margin-top: -2px;
      margin-bottom: -6px;

      border-top: 1px solid rgba(255, 255, 255, 0.3);
    }

    .box:nth-child(1) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      
      padding: 40px 60px;
  
      border-right: 1px solid rgba(255, 255, 255, 0.3);

      .content {
        align-items: center;
        margin-top: 45px;

        font-size: 14px;
        color:$white;
        letter-spacing: 0px;
        line-height: 1.9;
      }

      .box-links {
        margin-top: 10px;
     
        font-size: 14px;
        color: $white;
        line-height: 1.9;
      }
    }

    .box:nth-child(2) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      margin-right: -65px;
      padding: 40px 60px;
     
      border-right: 1px solid rgba(255, 255, 255, 0.3);

      .content {
        align-items: center;
        margin-top: 45px;

        font-size: 14px;
        color:$white;
        letter-spacing: 0px;
        line-height: 1.9;
      }

      .box-links {
        margin-top: 5px;
     
        font-size: 14px;
        color: $white;
        letter-spacing: 0.3px;
        line-height: 1.9;
      }
    }

    .box:nth-child(3) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      padding: 40px 60px;
     
      .contact {
        margin-top: 30px;
       
        font-family: $font-opensans-bold;
        font-size: 35px;
        color: $white;
      }

      .box-links {
        margin-top: 15px;

        font-size: 14px;
        color: $white;
        letter-spacing: 0.5px;
        line-height: 1.9;
      }
    }

    .content {
      align-items: center;

      margin-top: 22px;
      font-size: 14px;
      color: $white;
      letter-spacing: -0.1px;
      line-height: 1.9;
    }

    .img-fluid {
      margin-top: -120px;
      width: 100%;
      height: auto;
    }

    .mobile-text {
      display: none;
    }
  }
}   

//1600 to 1200
@media screen and (min-width:1200px) and (max-width:1600px) {
  .about {
    .section-banner {
      .nav-wrapper {
        left: 200px;
      }
    }
  }
}

//1199 to 992
@include respond-to(lg) {
  .about {

    .sidebar {
      #social_side_links {
        right: 15px;
      }
    }

    .section-banner {

      .nav-wrapper {
        position: absolute;
        top: 654px;
        left: 85px;
      }
    
      .custom-nav {
  
        .nav-item {
          height: 53px;
  
          &:first-child {
            padding: 5px 10px;
  
            font-family: $font-opensans-semibold;
            color: $white;
            letter-spacing: .2px;
            background: #1974b1;
          }
  
          &:nth-child(2) {
            padding: 5px 40px;
       
            color: $black;
            letter-spacing: .2px;
            background: $white;
          }
  
          &:nth-child(3) {
            padding: 5px 45px;
  
            font-size: 19px;
            letter-spacing: -0.4px;
            background: rgba(3, 3, 3, 0.7);
      
            .nav-link {
              color: $white;
            }
            
          }
  
          &:last-child {
            padding: 5px 44px;
  
            letter-spacing: -1px;
            background: rgba(3, 3, 3, 0.7);
      
            .nav-link {
              color: $white;
            }
          }
        }
      }
  
      .arrow-right-parent {
        position: relative;
      }
  
      .arrow-right:after {
        content: "";
        position: absolute;
        top:0;
        left: 142px;
        z-index: 0;
  
        width: 0;
        height: 0;
        border-top: 26.5px solid transparent;
        border-bottom: 26.5px solid transparent;
        border-left: 24px solid #1974b1;
      }
    }

    .section-boxes {

      .box-share {
        padding: 65px;
        margin-right: 125px;

        .icon-holder {
          margin-top: 0px;
        }

        .content {
          margin-top: 35px;
          margin-left: 0px;
        }

        .box-links {
          margin-left: 0px;
        }
      }

      .box-feedback {
        padding: 40px;
        margin-right: 0px;
        margin-left: -140px;

        .content {
          margin-top: 25px;
          margin-left: 0px;
        }

        .box-links {
          margin-top: 0px;
        }
      }

      .box-contact {
        padding: 40px;
        margin-right: 0px;

        .content {
          margin-top: 35px;
          margin-left: 0px;
        }
      }
    }
  }
}

//991 to 768
@media screen and (min-width:768px) and (max-width:991px) {
  .about {

    .sidebar {
      #social_side_links {
        right:11px;
      }
    }

    .section-banner {

      .nav-wrapper {
        position: absolute;
        top: 654px;
        left: 145px;
      }
    
      .custom-nav {
  
        .nav-item {
          height: 53px;
  
          &:first-child {
            padding: 0;
  
            font-family: $font-opensans-semibold;
            color: $white;
            letter-spacing: .2px;
            background: #1974b1;

            .nav-link {
              margin-top: 10px;
              font-size: 15px;
            }
          }
  
          &:nth-child(2) {
            padding: 0;
       
            color: $black;
            letter-spacing: .2px;
            background: $white;

            .nav-link {
              margin-top: 10px;
              margin-left: 20px;
              font-size: 15px;
            }
          }
  
          &:nth-child(3) {
            padding: 0;
  
            font-size: 19px;
            letter-spacing: -0.4px;
            background: rgba(3, 3, 3, 0.7);
      
            .nav-link {
              margin-top: 10px;
              font-size: 15px;
              color: $white;
            }
          }
  
          &:last-child {
            padding: 0;
  
            letter-spacing: -1px;
            background: rgba(3, 3, 3, 0.7);
      
            .nav-link {
              margin-top: 10px;
              font-size: 15px;
              color: $white;
            }
          }
        }
      }
  
      .arrow-right-parent {
        position: relative;
      }
  
      .arrow-right:after {
        content: "";
        position: absolute;
        top:0;
        left: 100px;
        z-index: 0;
  
        width: 0;
        height: 0;
        border-top: 26.5px solid transparent;
        border-bottom: 26.5px solid transparent;
        border-left: 24px solid #1974b1;
      }
    }

    .section-boxes {

      .box {
    
        &:first-child {
          padding: 40px;

          .icon-holder {
            margin-top: 0px;
          }

          .img-footer {
            width: 50px;
          }
  
          .content {
            margin-top: 25px;
            margin-left: 0px;

            font-size: 12px;
          }
  
          .box-links {
            margin-left: 0px;
          }
        }

        &:nth-child(2) {
          padding: 40px;
          margin-right: 0;

          .img-footer {
            width: 50px;
          }

          .content {
            margin-top: 25px;
            margin-left: 0px;

            font-size: 12px;
          }
  
          .box-links {
            margin-top: 0px;
          }
        }

        &:last-child {
          padding: 40px;

          .img-footer {
            width: 40px;
          }

          .content {
            margin-top: 25px;
            margin-left: 0px;

            font-size: 25px;
          }
        }
      }
    }
  }
}

//767 to 576 
@media screen and (min-width:576px) and (max-width:767px) {
  .about {
    
    .sidebar {
      display: none;
    }

    .breadcrumb-wrapper {

      .breadcrumb-list {
        padding: 13px 0;
        margin-top: 2px;
        border-top: 1px solid #dfdfdf;
      }

      .breadcrumb-item {
        padding-left: 0;
      }
    }

    .section-banner {
      background-size: cover;
      background-repeat: no-repeat;

      padding-top: 216px;
      margin-top: 80px;
      height: 400px;

      .nav-wrapper {
        position: absolute;
        top: 398px;
        left: 0%;

        width: 100%;
      }
      .custom-nav {
        padding-left: 0;
        width: 100%;

        .nav-item {
          &:first-child {
            display: block;

            padding: 0px;
            width: 100%;
            height: 40px;

            .arrow-right:after {
              display: none;
            }
          }

          &:nth-child(2),
          &:nth-child(3),
          &:last-child {
            display: none;
          }
        }

        .nav-link {
          font-size: 15.6px;
        }
      }

      .swiper-container {
        padding: 5px;
      }

      .swiper-mobile {   
        background: $white;
        position: relative;
        width: 100% ;
      }

      .swiper-slide {
        &:first-child {
          position: relative;
          top: 0px;
          bottom: 0px;

          width: auto !important; 
  
          letter-spacing: .2px;

          .nav-link {
            font-size: 12.8px;
            color: $black;
          }
        }
  
        &:nth-child(2) {
          position: relative;
          top: 0px;
          bottom: 0px;

          width: auto !important; 

          letter-spacing: -0.4px;
      
          .nav-link {
            font-size: 12.8px;
            color: $black;
          }
        }
  
        &:last-child {
          position: relative;
          top: 0px;
          bottom: 0px;

          width: auto !important; 
  
          letter-spacing: -1px;
    
          .nav-link {
            font-size: 12.8px;
            color: $black;
          }
        }
      }

      .arrow-right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin: 0;
        width: 100%;
      }

      .second-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 0;

        .img-border {
          margin-left: 0;
        }
      }

      .third-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 0;
        margin-top: 8.5px;
        width: 80px;
        height: 43px;

        .third-link {
          padding: 0;
          margin-left: 10px;
        }
      }

      .fourth-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 0;
        margin-top: 8.5px;

        width: 80px;
        height: 40px;
      }
    }

    .section-we-do {

      padding-bottom: 20px;

      .image-text {
        position: relative;
        margin: 20px 0px 20px;
      }

      .image-text:nth-child(1) {
        margin-top: 0px;

        background-image: none;
         
        .row {
          margin: 0px;
        }

        .heading {
          position: absolute;
          top:0;
  
          margin-top: 0px;
          font-size: 20px;
        }
  
        .subheading {
          margin-top: 15px;
          margin-right: 0px;

          font-size: 14px;
          line-height: 26px;
        }

        .image-holder {
          margin-top: 45px;
        }

        .img-border {
          margin-left: 0px;
          width: 70%;
        }

        .first-column {
          position: static;
        }

        .second-column {
          position: static;

          display: flex;
          order: -1;
        }

        .content {
          margin-top: 0;
        }
      }

      .image-text:nth-child(2) {
        margin-top: 0px;

        .row {
          margin-top: 0;
          margin-left: 0px;
        }

        .content {
          margin-top: 0;
          margin-left: 0px;
        }

        .heading {
          position: absolute;
          top:0;
  
          margin-top: 0px;
          font-size: 20px;
        }
  
        .subheading {
          margin-top: 15px;
          margin-right: 0px;

          font-size: 14px;
          line-height: 26px;
        }

        .image-holder {
          margin-top: 45px;
        }

        .img-border {
          margin-top: 0;
          width: 60%;
        }

        .third-column {
          position: static;
        }

        .fourth-column {
          position: static;
        } 
      }

      .image-text:nth-child(3) {
        margin-top: 0px;

        background-image: none;
         
        .row {
          margin: 0px;
        }

        .heading {
          position: absolute;
          top:0;
  
          margin-top: 0px;
          font-size: 20px;
        }
  
        .subheading { 
          margin-top: 15px;
          margin-right: 0;

          font-size: 14px;
          line-height: 26px;
        }

        .image-holder {
          margin-top: 45px;
        }

        .img-border {
          margin-left: 0;
          width: 60%;
        }

        .fifth-column {
          position: static;
        } 

        .sixth-column {
          position: static;

          display: flex;
          order: -1;
        }
      }

      .image-text:nth-child(4) {
        margin-top: 0px;

        .row {
          margin-top: 0;
          margin-left: 0px;
        }

        .content {
          margin-top: 0;
          margin-left: 0px;
        }

        .heading {
          position: absolute;
          top:0;
  
          margin-top: 0px;
          font-size: 20px;
        }

        .subheading {
          margin-top: 15px;

          font-size: 14px;
          line-height: 26px;
        }

        .image-holder {
          margin-top: 45px;
        }

        .img-border {
          margin-top: 0px;
          width: 60%;
        }

        .seveth-column {
          position: static;
        }

        .eigth-column {
          position: static;
        }
      }
    }

    .section-boxes {

      .content-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }

      .content-holder:first-child {
        margin-top: 237px;

        .title {
          margin-top: -202px;
          margin-bottom: 15px;

          font-size: 23px;
          font-family: $font-opensans-semibold;
          letter-spacing: 1.3px;
        }

        .subtitle {
          margin-top: -14px;
          margin-bottom: 0;

          font-size: 14px;
          letter-spacing: .3px;
          line-height: 1.7;
        }
      }

      .mobile-apps {
        margin-top: 22px;

        .img-app-store {
          width: 135px;

          margin-right: 11px;
        }

        .img-google-play {
          width: 135px;

          margin-left: 0;
        }
      }

      .img-fluid {
        display: none;
      }

      .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        padding-top: 20px;
      }

      .box {
        &:first-child {
          padding: 20px 30px;

          .img-footer {
            width: 50px;
          }

          .box-links {
            margin-top: 0px;
            
            font-size: 13px;
            color: $white;
            letter-spacing: .3px;
          }
      
          .icon-holder {
            margin-top: 0px;
          }

          .content {
            align-items: center;

            margin-top: 15px;
      
            font-size: 15px;
            color: $white;
            letter-spacing: 0.3px;
            line-height: 1.8;
          }
        }

        &:nth-child(2) {
          padding: 20px 30px;

          .img-footer {
            width: 50px;
          }
      
          .box-links {
            margin-top: 0px;
            
            font-size: 13px;
            color: $white;
            letter-spacing: .3px;
          }
      
          .icon-holder {
            margin-top: 0px;
          }

          .content {
            align-items: center;

            margin-top: 15px;
      
            font-size: 15px;
            color: $white;
            letter-spacing: 0.3px;
            line-height: 1.8;
          }
        }

        &:last-child {
          padding: 20px 30px;

          .box-links {
            margin-top: 0px;
         
            font-size: 13px;
            color: $white;
            letter-spacing: .3px;
          }

          .content {
            align-items: center;

            margin-top: 15px;
      
            font-size: 15px;
            color: $white;
            letter-spacing: 0.3px;
            line-height: 1.8;
          }

          .img-footer {
            width: 40px;
          }

          .contact {
            font-size: 25px;
          }
        }
      }

      .footer-boxes {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
      }

      .mobile-text {
        display: block;
        margin-top: 40px;

        font-size: 12px;
        color: $white;
        letter-spacing: 0.5px;
      }
    }
  }
}

//575 to 426
@media screen and (min-width:426px) and (max-width:575px) {
  .about {
    
    .sidebar {
      display: none;
    }

    .breadcrumb-wrapper {

      .breadcrumb-list {
        padding: 13px 0;
        margin-top: 2px;
        border-top: 1px solid #dfdfdf;
      }

      .breadcrumb-item {
        padding-left: 0;
      }
    }

    .section-banner {
      background-size: cover;
      background-repeat: no-repeat;

      padding-top: 216px;
      margin-top: 80px;
      height: 400px;

      .nav-wrapper {
        position: absolute;
        top: 398px;
        left: 0%;

        width: 100%;
      }

      .custom-nav {
        padding-left: 0;
        width: 100%;

        .nav-item {
          &:first-child {
            display: block;

            padding: 0px;
            width: 100%;
            height: 40px;

            .arrow-right:after {
              display: none;
            }
          }

          &:nth-child(2),
          &:nth-child(3),
          &:last-child {
            display: none;
          }
        }

        .nav-link {
          font-size: 15.6px;
        }
      }

      .swiper-container {
        padding: 5px;
      }

      .swiper-mobile {   
        background: $white;
        position: relative;
        width: 100% ;
      }

      .swiper-slide {
        &:first-child {
          position: relative;
          top: 0px;
          bottom: 0px;

          width: auto !important; 
  
          letter-spacing: .2px;

          .nav-link {
            font-size: 12.8px;
            color: $black;
          }
        }
  
        &:nth-child(2) {
          position: relative;
          top: 0px;
          bottom: 0px;

          width: auto !important; 

          letter-spacing: -0.4px;
      
          .nav-link {
            font-size: 12.8px;
            color: $black;
          }
        }
  
        &:last-child {
          position: relative;
          top: 0px;
          bottom: 0px;

          width: auto !important; 
  
          letter-spacing: -1px;
    
          .nav-link {
            font-size: 12.8px;
            color: $black;
          }
        }
      }

      .arrow-right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin: 0;
        width: 100%;
      }

      .second-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 0;

        .img-border {
          margin-left: 0;
        }
      }

      .third-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 0;
        margin-top: 8.5px;
        width: 80px;
        height: 43px;

        .third-link {
          padding: 0;
          margin-left: 10px;
        }
      }

      .fourth-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 0;
        margin-top: 8.5px;

        width: 80px;
        height: 40px;
      }
    }

    .section-we-do {

      padding-bottom: 20px;

      .image-text {
        position: relative;
        margin: 20px 0px 20px;
      }

      .image-text:nth-child(1) {
        margin-top: 0px;

        background-image: none;
         
        .row {
          margin: 0px;
        }

        .heading {
          position: absolute;
          top:0;
  
          margin-top: 0px;
          font-size: 20px;
        }
  
        .subheading {
          margin-top: 15px;
          margin-right: 0px;

          font-size: 14px;
          line-height: 26px;
        }

        .image-holder {
          margin-top: 45px;
        }

        .img-border {
          margin-left: 0px;
          width: 70%;
        }

        .first-column {
          position: static;
        }

        .second-column {
          position: static;

          display: flex;
          order: -1;
        }

        .content {
          margin-top: 0;
        }
      }

      .image-text:nth-child(2) {
        margin-top: 0px;

        .row {
          margin-top: 0;
          margin-left: 0px;
        }

        .content {
          margin-top: 0;
          margin-left: 0px;
        }

        .heading {
          position: absolute;
          top:0;
  
          margin-top: 0px;
          font-size: 20px;
        }
  
        .subheading {
          margin-top: 15px;
          margin-right: 0px;

          font-size: 14px;
          line-height: 26px;
        }

        .image-holder {
          margin-top: 45px;
        }

        .img-border {
          margin-top: 0;
          width: 60%;
        }

        .third-column {
          position: static;
        }

        .fourth-column {
          position: static;
        } 
      }

      .image-text:nth-child(3) {
        margin-top: 0px;

        background-image: none;
         
        .row {
          margin: 0px;
        }

        .heading {
          position: absolute;
          top:0;
  
          margin-top: 0px;
          font-size: 20px;
        }
  
        .subheading { 
          margin-top: 15px;
          margin-right: 0;

          font-size: 14px;
          line-height: 26px;
        }

        .image-holder {
          margin-top: 45px;
        }

        .img-border {
          margin-left: 0;
          width: 60%;
        }

        .fifth-column {
          position: static;
        } 

        .sixth-column {
          position: static;

          display: flex;
          order: -1;
        }
      }

      .image-text:nth-child(4) {
        margin-top: 0px;

        .row {
          margin-top: 0;
          margin-left: 0px;
        }

        .content {
          margin-top: 0;
          margin-left: 0px;
        }

        .heading {
          position: absolute;
          top:0;
  
          margin-top: 0px;
          font-size: 20px;
        }

        .subheading {
          margin-top: 15px;

          font-size: 14px;
          line-height: 26px;
        }

        .image-holder {
          margin-top: 45px;
        }

        .img-border {
          margin-top: 0px;
          width: 60%;
        }

        .seveth-column {
          position: static;
        }

        .eigth-column {
          position: static;
        }
      }
    }

    .section-boxes {

      .content-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }

      .content-holder:first-child {
        margin-top: 237px;

        .title {
          margin-top: -202px;
          margin-bottom: 15px;

          font-size: 23px;
          font-family: $font-opensans-semibold;
          letter-spacing: 1.3px;
        }

        .subtitle {
          margin-top: -14px;
          margin-bottom: 0;

          font-size: 14px;
          letter-spacing: .3px;
          line-height: 1.7;
        }
      }

      .mobile-apps {
        margin-top: 22px;

        .img-app-store {
          width: 135px;

          margin-right: 11px;
        }

        .img-google-play {
          width: 135px;

          margin-left: 0;
        }
      }

      .img-fluid {
        display: none;
      }

      .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        padding-top: 20px;
      }

      .box {
        &:first-child {
          padding: 20px 30px;

          .img-footer {
            width: 50px;
          }

          .box-links {
            margin-top: 0px;
            
            font-size: 13px;
            color: $white;
            letter-spacing: .3px;
          }
      
          .icon-holder {
            margin-top: 0px;
          }

          .content {
            align-items: center;

            margin-top: 15px;
      
            font-size: 15px;
            color: $white;
            letter-spacing: 0.3px;
            line-height: 1.8;
          }
        }

        &:nth-child(2) {
          padding: 20px 30px;

          .img-footer {
            width: 50px;
          }
      
          .box-links {
            margin-top: 0px;
            
            font-size: 13px;
            color: $white;
            letter-spacing: .3px;
          }
      
          .icon-holder {
            margin-top: 0px;
          }

          .content {
            align-items: center;

            margin-top: 15px;
      
            font-size: 15px;
            color: $white;
            letter-spacing: 0.3px;
            line-height: 1.8;
          }
        }

        &:last-child {
          padding: 20px 30px;

          .box-links {
            margin-top: 0px;
         
            font-size: 13px;
            color: $white;
            letter-spacing: .3px;
          }

          .content {
            align-items: center;

            margin-top: 15px;
      
            font-size: 15px;
            color: $white;
            letter-spacing: 0.3px;
            line-height: 1.8;
          }

          .img-footer {
            width: 40px;
          }

          .contact {
            font-size: 25px;
          }
        }
      }

      .footer-boxes {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
      }

      .mobile-text {
        display: block;
        margin-top: 40px;

        font-size: 12px;
        color: $white;
        letter-spacing: 0.5px;
      }
    }
  }
}

//425 to 320
@media screen and (min-width:320px) and (max-width:425px) {
  .about {
    
    .sidebar {
      display: none;
    }

    .breadcrumb-wrapper {

      .breadcrumb-list {
        padding: 13px 0;
        margin-top: 2px;
        border-top: 1px solid #dfdfdf;
      }

      .breadcrumb-item {
        padding-left: 0;
      }
    }

    .section-banner {
      background-size: cover;
      background-repeat: no-repeat;

      padding-top: 216px;
      margin-top: 80px;
      height: 247px;

      .nav-wrapper {
        position: absolute;
        top: 245px;
        left: 0%;

        width: 100%;
      }

      .custom-nav {
        padding-left: 0;
        width: 100%;

        .nav-item {
          &:first-child {
            display: block;

            padding: 0px;
            width: 100%;
            height: 40px;

            .arrow-right:after {
              display: none;
            }
          }

          &:nth-child(2),
          &:nth-child(3),
          &:last-child {
            display: none;
          }
        }

        .nav-link {
          font-size: 15.6px;
        }
      }

      .swiper-container {
        padding: 5px;
      }

      .swiper-mobile {   
        position: relative;

        width: 100% ;
        background: $white;
      }

      .swiper-slide {
        &:first-child {
          position: relative;
          top: 0px;
          bottom: 0px;

          width: auto !important; 
  
          letter-spacing: .2px;

          .nav-link {
            font-size: 12.8px;
            color: $black;
          }
        }
  
        &:nth-child(2) {
          position: relative;
          top: 0px;
          bottom: 0px;

          width: auto !important; 

          letter-spacing: -0.4px;
      
          .nav-link {
            font-size: 12.8px;
            color: $black;
          }
        }
  
        &:last-child {
          position: relative;
          top: 0px;
          bottom: 0px;

          width: auto !important; 
  
          letter-spacing: -1px;
    
          .nav-link {
            font-size: 12.8px;
            color: $black;
          }
        }
      }

      .arrow-right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin: 0;
        width: 100%;
      }

      .second-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 0;

        .img-border {
          margin-left: 0;
        }
      }

      .third-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 0;
        margin-top: 8.5px;
        width: 80px;
        height: 43px;

        .third-link {
          padding: 0;
          margin-left: 10px;
        }
      }

      .fourth-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 0;
        margin-top: 8.5px;

        width: 80px;
        height: 40px;
      }
    }

    .section-we-do {

      padding-bottom: 20px;

      .image-text {
        position: relative;
        margin: 20px 0px 20px;
      }

      .image-text:nth-child(1) {
        margin-top: 0px;

        background-image: none;
         
        .row {
          margin: 0px;
        }

        .heading {
          position: absolute;
          top:0;
  
          margin-top: 0px;
          font-size: 20px;
        }
  
        .subheading {
          margin-top: 15px;
          margin-right: 0px;

          font-size: 14px;
          line-height: 26px;
        }

        .image-holder {
          margin-top: 45px;
        }

        .img-border {
          margin-left: 0px;
          width: 100%;
        }

        .first-column {
          position: static;
        }

        .second-column {
          position: static;

          display: flex;
          order: -1;
        }

        .content {
          margin-top: 0;
        }
      }

      .image-text:nth-child(2) {
        margin-top: 0px;

        .row {
          margin-top: 0;
          margin-left: 0px;
        }

        .content {
          margin-top: 0;
          margin-left: 0px;
        }

        .heading {
          position: absolute;
          top:0;
  
          margin-top: 0px;
          font-size: 20px;
        }
  
        .subheading {
          margin-top: 15px;
          margin-right: 0px;

          font-size: 14px;
          line-height: 26px;
        }

        .image-holder {
          margin-top: 45px;
        }

        .img-border {
          margin-top: 0;
          width: 100%;
        }

        .third-column {
          position: static;
        }

        .fourth-column {
          position: static;
        } 
      }

      .image-text:nth-child(3) {
        margin-top: 0px;

        background-image: none;
         
        .row {
          margin: 0px;
        }

        .heading {
          position: absolute;
          top:0;
  
          margin-top: 0px;
          font-size: 20px;
        }
  
        .subheading {
          margin-top: 15px;
          margin-right: 0;

          font-size: 14px;
          line-height: 26px;
        }

        .image-holder {
          margin-top: 45px;
        }

        .img-border {
          margin-left: 0;
          width: 100%;
        }

        .fifth-column {
          position: static;
        } 

        .sixth-column {
          position: static;

          display: flex;
          order: -1;
        }
      }

      .image-text:nth-child(4) {
        margin-top: 0px;

        .row {
          margin-top: 0;
          margin-left: 0px;
        }

        .content {
          margin-top: 0;
          margin-left: 0px;
        }

        .heading {
          position: absolute;
          top:0;
  
          margin-top: 0px;
          font-size: 20px;
        }

        .subheading {
          margin-top: 15px;

          font-size: 14px;
          line-height: 26px;
        }

        .image-holder {
          margin-top: 45px;
        }

        .img-border {
          margin-top: 0px;
          width: 100%;
        }

        .seveth-column {
          position: static;
        }

        .eigth-column {
          position: static;
        }
      }
    }

    .section-boxes {

      .content-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }

      .content-holder:first-child {
        margin-top: 237px;

        .title {
          margin-top: -202px;
          margin-bottom: 15px;

          font-size: 23px;
          font-family: $font-opensans-semibold;
          letter-spacing: 1.3px;
        }

        .subtitle {
          margin-top: -14px;
          margin-bottom: 0;

          font-size: 14px;
          letter-spacing: .3px;
          line-height: 1.7;
        }
      }

      .mobile-apps {
        margin-top: 22px;

        .img-app-store {
          width: 135px;

          margin-right: 11px;
        }

        .img-google-play {
          width: 135px;

          margin-left: 0;
        }
      }

      .img-fluid {
        display: none;
      }

      .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        padding-top: 20px;
      }

      .box {
        &:first-child {
          padding: 20px 25px;

          .img-footer {
            width: 12%;
          }
      
          .box-links {
            margin-top: 0px;
            
            font-size: 12px;
            color: $white;
            letter-spacing: .3px;
          }
      
          .icon-holder {
            margin-top: 0px;
          }

          .content {
            align-items: center;

            margin-top: 20px;
      
            font-size: 14px;
            color: $white;
            letter-spacing: 0.3px;
            line-height: 1.8;
          }

          .img-footer {
            width: 45px;
          }
        }

        &:nth-child(2) {
          padding: 20px 25px;
    
          .img-footer {
            width: 12%;
          }

          .box-links {
            margin-top: 0px;

            font-size: 12px;
            color: $white;
            letter-spacing: .3px;
          }

          .content {
            align-items: center;

            margin-top: 20px;
      
            font-size: 14px;
            color: $white;
            letter-spacing: 0.3px;
            line-height: 1.8;
          }

          .img-footer {
            width: 45px;
          }
        }

        &:last-child {
          padding: 20px 25px;

          .img-footer {
            width: 9%;
          }

          .box-links {
            margin-top: 0px;
         
            font-size: 12px;
            color: $white;
            letter-spacing: .3px;
          }

          .content {
            align-items: center;

            margin-top: 20px;
      
            font-size: 14px;
            color: $white;
            letter-spacing: 0.3px;
            line-height: 1.8;
          }

          .img-footer {
            width: 35px;
          }

          .contact {
            font-size: 24px;
          }
        }
      }

      .footer-boxes {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
      }

      .mobile-text {
        display: block;
        margin-top: 40px;

        font-size: 12px;
        color: $white;
        letter-spacing: 0.5px;
      }
    }
  }
}

